global
  log  127.0.0.1 local2
  chroot  /var/lib/haproxy
  pidfile  /var/run/haproxy.pid
  maxconn  4000
  user  haproxy
  group  haproxy
  daemon

defaults
  mode  tcp
  log  global
  retries  3
  timeout connect  10s
  timeout client  1m
  timeout server  1m

frontend kubernetes
  bind *:{{LEO_CLUSTER_K8S_API_SERVER_ADVERTISE_PORT}}
  mode tcp
  default_backend kubernetes_master

backend kubernetes_master
  balance  roundrobin
  {% set ns = namespace(haproxy_server_start_id=210) %}
  {% for host in groups['kubernetes_masters'] %}
  server {{ns.haproxy_server_start_id}} {{host}}:6443 check maxconn 2000
  {% set ns.haproxy_server_start_id = ns.haproxy_server_start_id + 1 %}
  {% endfor %}
